$amethyst: #9b5de5ff;
$magenta-crayola: #f15bb5ff;
$minion-yellow: #fee440ff;
$capri: #00bbf9ff;
$sea-green-crayola: #00f5d4ff;

$text-dark: #131313;
$text-light: #595959;
$dark-mode-text: #BFBFBF;
$dark-mode-bg: #151515;
$blue: #015CE6;
$grey: #f3f3f3;
$error: #ff3d3d;

$breakpoint-large: 768px;
$breakpoint-middle: 550px;
$breakpoint-small: 400px;
$breakpoint-smallest: 330px;
